* {
  margin:0;
  margin: 0;
}

body {
  background-color: #ffffff; 
  font: Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
}

header{
  background-color: #333;
  height: 40px;
  color : #ffffff;
  width: 100%;
  top:0%;
  padding-top: 10px;
  text-align: center;
  font-size: 21px;font-weight: 500;
}
header > h3{
  display: inline-block;
}
li > h4{
  display: inline-block;
}
li {
    list-style-type:none;
    padding: 15px;
    display: block;
    color: #333;
}
li:hover{
  background-color: #f9f9f9;
}

hr {
    border: none;
    width: 100%;
    height: 1px;
    color: #e5e5e5;
    background-color: #e5e5e5;
}
.name{
  color: #4183C4;
  font-size: 16px;
  font-weight: 200;
}
.name:hover{
  text-decoration: underline;
  cursor: pointer;
}
.repoName{
  font-weight: bold;
}
.language{
  font-weight: 400;
}
.desc{
  font-weight: 400;
}
.stars{
  font-weight: 400;
  color : #707070;
} 
footer{
  padding: 15px;
  background-color: #f9f9f9;
  text-align: center;
}
footer > a{
  color: #4183C4;
  cursor: pointer;
  font-size: small;
  font-weight: 300;
}
footer > a:hover{
  text-decoration: underline;
}
.loading{
  position: absolute;
  left: 90%;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.settings-btn{
  position: absolute;
  left: 80%;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.gh-btn{
  position: absolute;
  left: 5%;
  height: 30px;
  width: 30px;
  cursor: pointer;
}