* {
  margin:0;
  margin: 0;
}

body {
  background-color: #ffffff; 
  font: Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
}

header{
  position: fixed;
  background-color: #333;
  height: 34px;
  color : #ffffff;
  width: 100%;
  top:0%;
  padding-top: 10px;
  text-align: center;
  font-size: 21px;font-weight: 500;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.13);
  z-index: 3;
}
header > h3{
  display: inline-block;
}

.fa-gear{
  float:left;
  cursor: pointer;
  padding: 0% 5% 0%;

}
.fa-refresh{
  float:right;
  cursor: pointer;
  padding: 0% 5% 0%;
}
.fa-code{
  position: fixed;
  left: 10%;
  cursor: pointer;
  padding: 0% 5% 0%; 
}
.ui-content{
  margin-top: 50px;
}
li > h4{
  display: inline-block;
}
li {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.13);
    list-style-type:none;
    padding: 15px;
    display: block;
    color: #333;
    margin:2%;
}
li:hover{
  background-color: #f9f9f9;
}

hr {
    border: none;
    width: 100%;
    height: 0px;
    color: #e5e5e5;
    background-color: #e5e5e5;
}
.name{
  color: #4183C4;
  font-size: 16px;
  font-weight: 200;
}
.name:hover{
  text-decoration: underline;
  cursor: pointer;
}
.repoName{
  font-weight: bold;
}
.language{
  font-weight: 400;
}
.desc{
  font-weight: 400;
}
.stars{
  font-weight: 400;
  color : #707070;
}